/*-------Generale----*/
.afis, .afis>p{
	position:relative;
  padding:0.7em;
  position:relative;
  display:flex;
  flex-direction: column;
  
  background:grey;
   opacity:0.9;
}

.templ_excursie{
  border:1px solid white;
 
  padding:0.2em;
  color:blue;
   float: left;
   flex-wrap: nowrap;
  
 
}
.afis_div{
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  color:white;
  font-size: 5vw;
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  box-sizing: border-box;
}


.templ_excursie>div{
  color:white;
  font-size:1em;
  margin-left:1.5em;
  display:inline-block;
  
}
/* ------------------------------*/
/* Info */

#container_info{
			
  width:20%;
 
}

#info{
	overflow-y:scroll;
  height:50%;
  color:white;
	width:50%;
	border:1px solid grey;
	
}

.pjson{
  color:white;
  font-size: 1.2em;
}
.excursii
{
  color:white;
  font-variant-caps: all-petite-caps;
  font-size:1.35em;
 margin-left:2em;



}
.selectat
{ display:none;

}

/* ------------------------------*/
/* butoane */
.container_butoane, #quiz>p{
	
	font-size: 1.1em;
	display:flex;
	padding:0.5em;
  flex-wrap:wrap;
  color:white;
  background-color: grey;
	border-radius: 0.5em;
	margin-top:0.5em;
	margin-bottom:0.5em;
	justify-content:center;
	
} 
#quiz>ol
{font-size: 1.1em;}
.container_butoane button{
	
	margin:0.5em;

  
	border:2px solid grey;
	padding:0.3em;
	border-radius: 0.4em;
	min-height:3em;
	transition:all 0.4s linear;
}
.container_butoane button.apasat{
	box-shadow:0px 0px 2px 4px rgb(50,50,50) inset !important;
	border-color:green;
	background:grey;
}
.container_butoane button:hover{
	background: rgb(255,255,210);
	box-shadow: grey 0px 0px 0.3em inset;
} 
*{
    box-sizing:border-box;
    font-family: "Times New Roman", Times, serif;
   
}

body{
    
    background-image:url("../poze-proiect/bk4.jpg");
    
  }
main{
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1.5em;
    margin-right:1.5em;
}
h1{
  color:white;
  text-align: center;
} 
#galerie-statica>h2{
  text-align: center;
  color:grey;
  
} 

footer{
  padding-left:1em;
  padding-right:1em;
  box-shadow:inset gray 0px 0px 10px;
  background:white;
  font-size: 1em;
  box-sizing:border-box;
  opacity: 0.8;
 
}
.afisare,.afis_header{
   
   font-size: 1.15em;;
   font-style: italic;
   background:grey;
   opacity:0.8;
  position:relative;
	overflow:hidden;
  box-shadow:inset grey 0px 0px 10px;
 
  box-sizing:border-box;
}
.eroare{
  
  box-shadow:inset grey 0px 0px 10px;
 box-sizing:border-box;
}
.eroare *{
  font-size: 1.2em;
  font-family: "Lucida Console", Courier, monospace;
   color:white;
   
  margin-left: auto;
  margin-right: auto;
  display: flex;
  
  
}

/*--------flex prima pagina---*/
div.flx>p{
    padding-left:2em;
    padding-right:2em;
    
    box-shadow:inset gray 0px 0px 10px;
    padding-top:3em;
    padding-bottom: 3em;
    background:white;
    font-size: 1.15em;
    box-sizing:border-box;
    opacity: 0.7;
   
}


.flx{
    display:flex;
    flex-wrap:wrap;
    

}
.flx p{
    min-width:100px;
    
   flex-basis:0;
   flex-grow:1;
}
			
/*-------galeria_animata-----*/


#container_animatie{
	position:relative;
	overflow:hidden;
  width:100%;
  height:410px;
  box-shadow:inset grey 0px 0px 10px;
  z-index: -1;
  box-sizing:border-box;
}

#derulant{
	display:flex;
  flex-wrap:nowrap;
	position: absolute;
	animation-name:my_anm;
	animation-direction:alternate;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
	animation-duration:16s;
}
#derulant>*{
	flex-shrink: 0;
  position:relative;
}
#container_animatie figure:hover figcaption{
  position:absolute;
  padding-bottom:0.5em ;
  bottom:0;
  width:100%;
  height:auto;
  font-size:1.5em;
  background:rgba(200,200,200,0.5);
  text-align:center;
}

#container_animatie *{
  height:100%;
  width:auto;
}

@keyframes my_anm{
	0%{
    	left:0px;
    }
	100%{
		left:-84%;
	}
}
/* -------------EDITARE FLORENTA----------*/
.sec{
    padding-left:1.5em;
    margin-left: 2em;
    margin-right:2em;
    margin-bottom: 1em;
    padding-right:1.5em;
    box-shadow:inset grey  0px 0px 10px;
    padding-top:1em;
    padding-bottom: 1em;
    background:grey;
    font-size: 1.1em;
    z-index: -1;
    position:relative;
    box-sizing:border-box;
    opacity: 0.9;
}
.grid2{
    display:grid;
    grid-template-columns:repeat(2,1fr);

}
.grid2>.st, .grid2>img{
    padding-top: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    grid-template-columns: repeat(2,1fr);
     grid-row-gap:0.4em;
    grid-column-gap:0.4em;
    
}
.grid2 img{
    width:100%;
    
}
 /*----------tabel_excursii-------*/
 

th,td{
  border:1px black;
  border-style: dotted;
 
  padding:5px;
  
}
table{
  border-collapse:collapse;
  width: 100%;
  
  

}
tr:nth-child(even){background-color:black;
color:white;}

th {
  background-color: #ce3716;
  color: white;
}
 /*------------------galeria statica------------*/
 #galerie-statica{
  padding-left:0.3em;
  padding-right:0.3em;
  margin-top:6em;
  margin-left:3.5em;
  margin-right:3.5em;
  box-shadow:inset white 0px 0px 10px;
  padding-top:2em;
  background:white;
 
  box-sizing:border-box;
 opacity:0.9;
  grid-template-columns:repeat(4,1fr);
}

#gr {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap:0.5em;
  grid-column-gap:0.5em;
 }
 #gr img{
   width: 100%;
 }
 #gr figcaption{
   text-align:center;
   background-color: grey;
 }
 
 #gr figure:hover {
   box-shadow: grey 0px 0px 7px;
 }
 
 #gr figure{
   transition: all 1s linear;
 }


   