  <footer>
    <div class="f_mic"></div>
    <a href="#">Inapoi la inceput</a>
    <p> e-mail: <a href="mailto:renastere@italia.com ">renastere@italia.com</a> </p>
    <address> Strada Renasterii, nr. 24, sector 1, Bucuresti</address>


  </footer>