<!DOCTYPE html>
<html lang="ro">

<head>

  <title>Renasterea italiana</title>
  <meta charset="UTF-8">
  <meta name="description" content="Renasterea italiana-perioadă de schimbări și realizări culturale majore ">
  <meta name="keywords" content="Renastere, Italia">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/edit_pagina.css">
  <link rel="stylesheet" type="text/css" href="/css/meniu.css">
  <link rel="stylesheet" href="/css/style_800.css" type="text/css" media="screen and (max-width: 700px)" />
  <link rel="stylesheet" href="/css/style_400.css" type="text/css" media="screen and (max-width: 400px)" />
  <link rel=" stortcut icon" type="image/x-icon" href="/poze-proiect/favicon.ico" />

</head>

<body>
 <%-  include('../fragmente/header')  %> <!-- < % - ca sa interpreteze tagurile -->
  <main>
   <div class="afisare">
     <p>Nu am găsit pagina dorită.Domnul Detectiv Panda se ocupă de caz. Nu vă temeți, vom da de urma făptașului!</p> 
   </div>
   <div class="eroare">
     <img src="/poze-proiect/pandaerr.png"alt="error 404" >
    
  </div>
  </main>
<%- include('../fragmente/footer')  %>



</body>

</html>