<!DOCTYPE html>
<html lang="ro">


<head>

  <title>Galerie imagini</title>
  <meta charset="UTF-8">
  <meta name="description" content="Imagini din Italia, perioada Renasterii">
  <meta name="keywords" content="Renastere, Italia, Florenta">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/edit_pagina.css">
  <link rel="stylesheet" type="text/css" href="/css/meniu.css">
  <link rel="stylesheet" href="/css/style_800.css" type="text/css" media="screen and (max-width: 700px)" />
  <link rel="stylesheet" href="/css/style_400.css" type="text/css" media="screen and (max-width: 400px)" />
  <link rel=" stortcut icon" type="image/x-icon" href="/poze-proiect/favicon.ico" />
  <script src="js/ejs.min.js"></script>

  <script src="js/script.js"></script>
  
</head>

<body>
  <%-  include('../fragmente/header')  %> 
  <main>
    <section id="galerie-statica">
       <h2>Principalele atracții turistice</h2>
      <div id="gr">
        <figure>
          <img src="/poze-proiect/san-marco.jpg" alt="Piata San Marco">
          <figcaption>Piata San Marco</figcaption>
        </figure>
        <figure>
          <img src="/poze-proiect/canal2.jpg" alt="Canal Grande">
          <figcaption>Canal Grande</figcaption>
        </figure>
        
        <figure>
          <img src="/poze-proiect/fantana.jpg" alt="Fântâna di Trevi">
          <figcaption>Fântâna di Trevi</figcaption>
        </figure>
        <figure>
          <img src="/poze-proiect/signoria1.jpg" alt="Signoria">
          <figcaption>Signoria</figcaption>
        </figure>
        <figure>
          <img src="/poze-proiect/san-pietro.jpg" alt="Bazilica Sfântului Petru ">
          <figcaption>Bazilica Sfântului Petru </figcaption>
        </figure>
        <figure>
          <img src="/poze-proiect/uffizi3.jpg" alt="Galeria Uffizi">
          <figcaption>Galeria Uffizi</figcaption>
       
        </figure>
        <figure>
          <img src="/poze-proiect/catdr-fl.jpg" alt="Domul Santa Maria del Fiore">
          <figcaption>Domul Santa Maria del Fiore</figcaption>
        </figure>
        <figure>
          <img src="/poze-proiect/dogi.jpg" alt="Palatul Dogilor" >
          <figcaption>Palatul Dogilor</figcaption>
        </figure>
        
        <figure>
          <img src="/poze-proiect/ponte5.png" alt="Ponte Vecchio" >
          <figcaption>Ponte Vecchio</figcaption>
        </figure>
      </div>
    </section>

  </main>
<%- include('../fragmente/footer')  %>



</body>

</html>