<!DOCTYPE html>
<html lang="ro">

<head>

  <title>Renasterea italiana</title>
  <meta charset="UTF-8">
  <meta name="description" content="Renasterea italiana-perioadă de schimbări și realizări culturale majore ">
  <meta name="keywords" content="Renastere, Italia">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/edit_pagina.css">
  <link rel="stylesheet" type="text/css" href="/css/meniu.css">
  <link rel="stylesheet" href="/css/style_800.css" type="text/css" media="screen and (max-width: 700px)" />
  <link rel="stylesheet" href="/css/style_400.css" type="text/css" media="screen and (max-width: 400px)" />
  <link rel=" stortcut icon" type="image/x-icon" href="/poze-proiect/favicon.ico" />
  <script src="js/ejs.min.js"></script>

       <script src="js/script.js"></script>
</head>

<body>
 <%-  include('../fragmente/header')  %> 
  <main>
    
     
      <div id="container_animatie">
        <div id="derulant">
          <figure>
            <img src="/poze-proiect/bk2.jpg" alt="Omul vitruvian">
            <figcaption>Omul vitruvian</figcaption>
          </figure>
          <figure>
            <img src="/poze-proiect/san-marco.jpg" alt="Piata San Marco">
            <figcaption>Piata San Marco</figcaption>
          </figure>
          <figure>
            <img src="/poze-proiect/fantana.jpg" alt="Fântâna di Trevi">
            <figcaption>Fontana di Trevi</figcaption>
          </figure>
          <figure>
            <img src="/poze-proiect/san-pietro.jpg" alt="Catedrala San Pietro">
            <figcaption>Catedrala San Pietro</figcaption>
          </figure>
        </div>
      </div>
    

    <div class="flx">


      <p> Renașterea a fost o perioadă de schimbări și realizări culturale majore care a început în Italia în secolul al
        XIV-lea și
        a durat până în secolul al XVII-lea marcând tranziția între <b>Perioada Medievală</b> și <b>Modernitate</b>.
        Renașterea europeană a început în Toscana (centrul Italiei), s-a centrat în orașul Florența si s-a răspândit mai
        târziu în
        Veneția, inima unui imperiu mediteranean.În cele din urmă, Renașterea a avut un efect semnificativ asupra
        Statelor Papale și a Romei,
        reconstruite în mare parte de papi umaniști și renascentiși. Renașterea italiană este cea mai cunoscută pentru
        realizările sale în pictura, arhitectură, sculptură, literatură, muzică,
        filozofie, știință și explorare. </p>



      <p> In Florența, oraș prosper și favorabil culturii, apar zorii Umanismului. Aproape in acelasi timp, trei mari
        titani ai literaturii italiene si
        universale își creau o opera total aparte, care dorea sa redescopere lumea si mai ales, <b>OMUL</b>: Dante Alighieri
        (<cite>Divina Comedie</cite>),
        Francesco Petrarca (<cite>Poeme</cite>) si Giovanni Boccaccio (<cite>Decameronul</cite>). Savantul si poetul
        Francesco Petrarca, a fost primul care a inceput
        sa studieze manuscrisele Romei Antice, precum cele ale lui Cicero sau Vergiliu.</p>
      <p>Sculptura renascentistă italiană, devenită autonomă şi orientată spre celebrarea trupului uman, a fost
        reprezentată de sculptorii din familia Pisano,
        Donatello, Lorenzo Ghiberti, Luca Della Robia, Andrea Verrocchio şi Michelangelo. Aceștia sunt autorii
        monumentelor ecvestre ale condotierilor Gattamelata (Donatello, la Padova) şi Bartolomeo Colleoni (Andrea
        Verrocchio, la Veneţia), al decoraţiilor de pe uşile Baptisteriului din Florenţa (Lorenzo Ghiberti), al
        monumentului funerar aparținând familiei Medici(la Florenţa),
        al sclavilor, al lui <cite>David</cite>, al lui <cite>Moise</cite> (parte din mormântul papei Iuliu II, la Roma)
        executate de Michelangelo.</p>

    </div>
  	


  </main>
<%- include('../fragmente/footer')  %>



</body>

</html>