<!DOCTYPE html>
<html lang="ro">

<head>

  <title>Roma</title>

  <meta charset="UTF-8">
  <meta name="description" content="Roma- un centru mondial al Renașterii">
  <meta name="keywords" content="Renastere, Italia,Roma,Bazilica Sfantului Petru ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/edit_pagina.css">
  <link rel="stylesheet" type="text/css" href="/css/meniu.css">
  <link rel="stylesheet" href="/css/style_800.css" type="text/css" media="screen and (max-width: 700px)" />
  <link rel="stylesheet" href="/css/style_400.css" type="text/css" media="screen and (max-width: 400px)" />
  <link rel=" stortcut icon" type="image/x-icon" href="/poze-proiect/favicon.ico" />
  <script src="js/ejs.min.js"></script>

       <script src="js/script.js"></script>
</head>

<body>
   <%-  include('../fragmente/header')  %>
  <main>
    <section class="sec">
      <h2>Despre Roma </h2>
      <p>Roma a fost un centru mondial al Renașterii, al doilea doar în urma Florenței, și a fost profund influențată de
        această mișcare.
        Cele mai impresionante capodopere ale arhitecturii renascentiste în Roma sunt<i lang="it"> Piazza del
          Campidoglio</i> de Michelangelo, împreună cu <i lang="it"> Palazzo Senatorio </i>,
        sediul guvernului local.Roma este, de asemenea, faimoasă pentru piețele ei imense și maiestoase (de multe ori
        decorate cu obeliscuri), multe dintre care au fost construite în secolul al XVII-lea.</p>

    </section>

    <section class="sec">
      <h2>Obiective turistice</h2>
      <div class="grid2">
        <div class="st">
          <h3> Bazilica Sfântului Petru </h3>
          <p> Bazilica Sfântului Petru, cea mai mare biserica din lume, a fost creată din mareția creativitătii și
            viziunii artistice a mai multor arhitecti – <b>Bramante</b>, <b>Michelangelo</b>,<b> Maderno</b>
            si <b>Bernini</b> – un exemplu unic de arhitectura renascentista. Interiorul bisericii este la fel de sublim
            ca si exteriorul, impresionand prin elemente decorative, materiale pretioase folosite pentru constructie,
            colectia de opere de arta care poate fi admirata.
            Printre acestea, punctul culminant artistic al Bazilicii este considerată a fi sculptura <cite> Pieta
            </cite>
            a lui Michelangelo. </p>
        </div>
        <img src="/poze-proiect/san-pietro.jpg" alt="Basilica Sfantul Petru" title="Basilica Sf Petru">
        <div class="st">
          <h3> Fontana di Trevi </h3>
          <p>Situată în cartierul <i lang="it">Quirinale</i> din Roma, Fântâna Trevi este cunoscută drept una dintre
            cele
            mai spectaculoase fântâni din lume și drept urmare, atrage anual câteva zeci de milioane de turiști din
            toate
            colțurile lumii.
            <i lang="it">Fontana di Trevi </i> se afla la capătul unui apeduct construit în anul 19 î.Hr. ce se numește
            <i> Aqua Virgo</i> care aduce apa de la izvoarele Salone (aproximativ 20 km depărtare de Roma) și
            aprovizionează mai toate fântânile din centrul istoric al Romei. </p>
        </div>
        <img src="/poze-proiect/fantana.jpg" alt="Fantana di Trevi">
      </div>

    </section>



  </main>
 <%- include('../fragmente/footer')  %>


</body>

</html>