<!DOCTYPE html>
<html lang="ro">

<head>

   <title>Venetia</title>
   <meta charset="UTF-8">
   <meta name="description" content="Venetia-o fascinanta destinatie de vacanta">
   <meta name="keywords" content="Renastere, Italia, Venetia, Palatul dogilo">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/css/edit_pagina.css">
   <link rel="stylesheet" type="text/css" href="/css/meniu.css">
   <link rel="stylesheet" href="/css/style_800.css" type="text/css" media="screen and (max-width: 700px)" />
   <link rel="stylesheet" href="/css/style_400.css" type="text/css" media="screen and (max-width: 400px)" />
   <link rel=" stortcut icon" type="image/x-icon" href="/poze-proiect/favicon.ico" />
   <script src="js/ejs.min.js"></script>

   <script src="js/script.js"></script>
</head>

<body>
     <%-  include('../fragmente/header')  %>
   <main>
      <section class="sec">
         <h2>Despre Veneția </h2>
         <p>Asezata in Nord-Estul Italiei, capitala regiunii Veneto este localizata de-a lungul a 117 insulite situate
            in Laguna
            Venetiana si care sunt legate intre ele de canale si poduri. Locuitorii de aici se numesc, mandri,
            descendenti ai fostilor cetateni ai Republicii Venetia,
            o putere financiara si maritima in perioada Renasterii si a epocii feudale;orasul a fost un important centru
            de comert
            (matase, grane si mirodenii) si arta, incepand cu secolul XIII si pana in secolul al XVII-lea.</p>

      </section>

      <section class="sec">
         <h2>Obiective turistice</h2>
         <div class="grid2">
            <div class="st">
               <h3>Piața San Marco </h3>
               <p>Napoleon numea piata San Marco <q>receptia cea mai frumoasa a Europei</q>.
                  Piata a fost pavata la sfarsitul sec al XIII-lea cu caramizi aranjate in forma de mozaic. In anul 1723
                  caramizile au fost inlocuite cu un pavaj mult mai complex
                  compus din trahite (roci vulcanice) inchise la culoare si traversata de forme geometrice realizate din
                  pietre istriene albe.</p>
            </div>
            <img src="/poze-proiect/san-marco.jpg" alt="Piata San Marco">

            <div class="st">
               <h3>Palatul Dogilor </h3>
               <p>Palatul Dogilor din Venetia este un exemplu superb de arhitectura gotica venetiana. El a servit ca
                  senat, centru administrative, tribunal, arhiva publica si inchisoare pana in anul 1797
                  atunci cand a cazut republica venetiana.Decoratiunea palatului este impresionanta. Cele 36 de capitele
                  din colonada inferioara cuprind sculpturi ale unor animale, flori si reprezentari ale lunilor anului.
                  Sculpturile mai contin scene ale Judecatii lui Solomon, Noah, Adam si Eva cu Arhanghelul Gabriel etc
               </p>
            </div>
            <img src="/poze-proiect/palat-dogi.jpg" alt="Palatul Dogilor">
         </div>

      </section>



   </main>
  <%- include('../fragmente/footer')  %>


</body>

</html>